/* Error: Undefined variable.
 *    ,
 * 17 |   color: nth($color, 3);
 *    |              ^^^^^^
 *    '
 *   scss\base\_generales.scss 17:14  @import
 *   scss\estilos.scss 2:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 17 \2502    color: nth($color, 3);\d\a    \2502               ^^^^^^\a    \2575 \a   scss\\base\\_generales.scss 17:14  @import\a   scss\\estilos.scss 2:9            root stylesheet";
}
