@use url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.carousel-indicators [data-bs-target] {
    background-color: #000;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.carousel-indicators [data-bs-target].active {
    background-color: #fff;
    width: 14px;
    height: 14px;
}

@media screen and (max-width: 1025px) {
    header nav div h1 {
        font-size: 25px;
    }
    .container-fluid {
        flex-direction: column;
    }
    .grid-inicio {
        flex-direction: column;
    }
    .navbar-nav {
        font-size: 15px;
        font-weight: 200;
    }
    .btn {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 18px;
        font-weight: 700;
    }
    .grid-inicio {
        grid-template-columns: 1fr 1fr;
    }
    .grid-item1,
    .grid-item3,
    .grid-item4 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .grid-inicio div {
        position: relative;
    }
    .portada {
        background-image: url(../img/index.jpg);
        color: black;
        font-size: 15px;
        font-weight: bold;
    }
    .btn {
        font-size: 18px;
    }
    footer h4 {
        font-size: 25px;
        font-weight: 500;
    }
    footer div a {
        font-size: 18px;
        font-weight: 200;
        display: auto;
    }
    footer div a img {
        width: 40px;
        height: 40px;
        padding: 5px;
    }
}

@media screen and (max-width: 560px) {
    h1 {
        font-size: 10px;
        font-weight: 500;
    }

    h2 {
        font-size: 15px;
    }

    .grid-inicio {
        grid-template-columns: 1fr;
    }

    .btn {
        font-size: 15px;
    }

    footer h4 {
        font-size: 18px;
        font-weight: 100;
    }

    footer div a {
        font-size: 10px;
        font-weight: 50;
        display: auto;
    }

    footer div a img {
        width: 30px;
        height: 30px;
        padding: 5px;
    }
    .flex-servicios div, .flex-tramites div, .flex-programas div {
        width: 300px;
    }
}

@media screen and (max-width: 360px) {
    header nav div h1 {
        font-size: 10px;
    }

    .flex-servicios div, .flex-tramites div, .flex-programas div{
        width: 200px;
        font-weight: 300;
        font-size: 10px;
    }
}

/*funcionalidades: /* variabl8es, condicionales, funciones, bucles*/
/*generales: /*info general como reset, las clases sueltas (ejemplo h1/h2/h3/h4), la tipografía, lo que le aplico a selectores en general en el proyecto)*/