footer{ 
    background-color: #fa3d7cf8;
    grid-area: span;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 30%;
    h4{
        font-size: 30px;
        font-weight: 900;
        color: $color-3;
    }
    div{
        a{
            color: $color-3;
            font-size: 15px;
            font-weight: 200px;
            display: inline;
            text-decoration: none;
            img{
                width: 50px;
                height: 50px;
                padding: 10px;
            }
        }
    }
}