.index {
    .portada {
        text-align: right;
        height: 900px;
        overflow: auto;
        background-image: url("https://ibb.co/ZzL3hzn");
        background-repeat: no-repeat;
        background-size: cover;
        p {
            color: black;
            font-size: 18px;
            font-weight: bold;
            padding: 5px;
            margin: 10px;
        }
    }
    .grid-inicio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 400px;
        gap: 5px;
        position: relative;
        font-size: 18px;        
        .grid-item1, .grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6{
            display: flex;
            border: 2px solid whitesmoke;
            padding: 5%;
            background-size: cover;
            width: 100%;
            height: 100%;
            .btn {
                @extend %button-base;
            }
            .btn-secondary {
                @extend %button-base;
                background-color: $color-5;
            }
        }
        .grid-item1{
            background-image: url("https://ibb.co/GWK7wn4");
            grid-column: 1/3;
        }
        .grid-item2{
            background-image: url("https://ibb.co/grX4Q5k");
            }
        .grid-item3{
            background-image: url("https://ibb.co/jzvbzSm");
            grid-row: 2/4;
            }
        .grid-item4{
            background-image: url("https://ibb.co/MPy7zB1");
            grid-column: 2/4;
            }
        .grid-item5{
            background-image: url("https://ibb.co/JkdrXch");
            }
        .grid-item6{
            background-image: url("https://ibb.co/LP6kn68");
        }
    }
}
.organizacion{
    .minister{
        .ministro{
            width: 30px;
            height: 100px;
            display: flex;
            gap: 40px;
            object-fit: contain;
            justify-content: center;
            align-items: center;
        }
        .hero-p{
            text-align: center;
            font-size: nth($color-3, $br:1, $border:2);
        }
    }
    
    .institu-container{
        display: flex;
        flex-direction: column;
        border: 2px solid $color-4;
        width: auto;
        height: auto;
        background-image: url("https://ibb.co/yPVyxzv");
        background-repeat: no-repeat;
        background-size: cover;
        padding: auto;
        @each $subclase in $subclases {
            .#{$subclase} ul li {
            display: flex;
            width: 70%;
            height: 50px;
            border: 4px solid $color-4;
            background-color: #fa3d7cf8;
            text-decoration: none;
            color: whitesmoke;
            margin: 15px;
            font-weight: 500;
            font-size: 15px;
            }
        
        }
    }
}
.services{
    section{
        .flex-servicios, .flex-tramites, .flex-programas{
            display: flex;
            flex-direction: column;
            border: 2px solid $color-4;
            width: 100%;
            height: 700px;
            background-repeat: no-repeat;
            background-size: cover;
            padding: auto;
            div{
                display: flex;
                justify-content: right;
                width: 400px;
                height: 50px;
                border: 2px solid $color-4;
                background-color: #fa3d7cf8;
                text-decoration: none;
                color: whitesmoke;
                margin: 10px;
                padding: 10px;
                font-weight: 500;
                font-size: 18px;
            }
        }
        .flex-servicios {
            background-image: url(../img/services.jpg);
        }
        .flex-tramites div{
            background-image: url(../img/tramites-final.jpg);
            align-items: end;
        }
        .flex-programas{
            background-image: url(../img/saluddigital01.jpg);
        }
        
    }
}
.contact{
    div .map{  
        width: 80%;
        margin: 0 auto;
        background-color: whitesmoke;
        padding: 20px;
        border-radius: nth($br:2);
        box-shadow: 0 4px 8px  $color-7;
    }
    .centros ol{
        display: flex;
        li{
            display: flex;
            width: 70%;
            height: 50px;
            border: 4px solid $color-4;
            background-color: #fa3d7cf8;
            background-image: linear-gradient(to right, $color-2, $color-5);
            text-decoration: none;
            color: $color-4;
            margin: 15px;
            font-weight: 500;
            font-size: 15px;                    
        }
    }
    .marco-formulario{
        .formulario{
            width: 80%;
            margin: 20px auto;
            background-color: whitesmoke;
            padding: 20px;
            border-radius: nth($br:2);
            box-shadow: 0 4px 8px  $color-7;
            font-family: "Arima", system-ui;
            form{
                display: flex;
                flex-direction: column;
                gap: 15px;
                div{
                    display: flex;
                    flex-direction: column;
                    label {
                        margin-bottom: 5px;
                        font-weight: bold;
                        color: #555;
                        }
                    textarea {
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: nth($br:1);
                        font-size: 15px;
                        width: 100%;
                        box-sizing: border-box;
                        resize: vertical;
                        min-height: 100px;
                    }
                    .submit {
                        @include button(#fa3d7cf8, $color-5, $color-3);
                    }
                    .reset {
                        @include button(#03bada, $color-6, $color-3);
                    }
                }
            }
        }
    }
    div{
        h3{
            font-weight: 900;
            color: whitesmoke;
            background-color: #03bada;
            padding: 10px;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.news{
    section{
        .container-notides{
            display: flex;
            overflow: hidden;
            padding: 10px;
            max-width: auto;
            margin: 20px auto;
            border-radius: nth($br: 3);
            overflow: hidden;
            box-shadow: 0 8px 20px  $color-7;
            .novedades iframe{
                display: flex;
                padding: 10px;
                max-width: auto;
                margin: 20px auto;
                box-shadow: 0 8px 20px  $color-7;
                border-radius: nth($br: 3);
                object-fit: cover;
                height: 300px;
            }
        }
    }
    section{
        .novedades{
            margin: 0 auto;
            width: 2150px;
            max-height: 100px;
            background: rgb(117,217,244);
            background: linear-gradient(90deg, rgba(117,217,244,1) 20%, rgba(3,186,218,1) 55%, rgba(4,69,80,1) 100%);
            border-radius: nth($br, 1);
            text-align: center;
            padding: 5px;
            margin-right: 3px;
            transition-property: width;
            transition-duration: 2s;
            transition-timing-function: ease;

        }
    }
    section{
        .carousel-container{
            overflow: hidden;
            max-width: 800px;
            margin: 20px auto;
            border-radius: nth($br: 3);
            box-shadow: 0 8px 20px  $color-7;
            div{
                div{
                    .carousel-item{
                        transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
                        img{
                            object-fit: cover;
                            height: 400px;
                        }
                    }
                }
                button{
                    .carousel-control-prev-icon{
                        background-color:  $color-7;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        &:hover{
                            background-color:  $color-7;
                        }
                    }
                }
            }
        }
        .docdifusion{
            width: 100px;
            height: 100px;
            border-radius: 25%;
            .doc1{
                background-color: #fa3d7cf8;
            }
            .doc2{
                background-color: #03bada;
            }
            .doc3{
                background-color: ($color-5);
            }
            .doc1, .doc2, .doc3{
                transition: 2s;
                &:hover{
                    transform: translateX(300px);
                }
            }
        }
    }
}
  
