/*variables*/
$color-1: #03bada;
$color-2: #fa3d7cf8;
$color-3: #f5f5f5; 
$color-4: #333131;
$color-5: #eea8dc;
$color-6: #75d9f4;
$color-7: #0000004d;

/*listas*/
$border: 1px, 2px, 3px;
$br: 5px, 10px, 15px;
$subclases: secre, subsecre, direcciones, efectores;

/*extend*/
%button-base {
    background-color: #03bada;
    border: 3px solid $color-4;
    width: 100%;
    height: 25%;
    padding: 2%;
    font-size: 25px;
    text-align: center;
    position: relative;
    &:hover {
        background-color: $color-5;
        border: 3px solid $color-4;
    }
}
/*mixin*/
@mixin button($bg-color, $hover-bg, $hover-border, $font-size: 18px) {
    background-color: $bg-color;
    text-align: center;
    font-size: $font-size;
    font-style: italic;
    &:hover {
        background-color: $hover-bg;
        border: 3px solid $hover-border;
    }
}