
$color-1: rgb(3, 186, 218);
$color-2: rgba(250, 61, 124, 0.974);
$color-3: whitesmoke; 
$color-4: rgb(51, 49, 49);
$color-5: rgb(238, 168, 220);
$color-6: rgba(117, 217,244);
$color-7: rgba(0, 0, 0, 0.3);

/*listas*/
$font-size: 10px, 15px, 18px, 25px, 30px, 35px;
$colores: rgb(3, 168, 218), rgba(250, 61, 124, 0.974), whitesmoke;


